
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
	min-height: 100%;
    margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 80px; 
}

#hideLink:hover {
 cursor:pointer;
}
.margin-top-middle
{
    margin-top: 20px;
}

.margin-top-calc
{
    margin-top:30px;
}
    
.margin-top-big
{
    margin-top: 40px;
}

.margin-top-small
{
    margin-top: 10px;
}

.margin-left-extra-small
{
    margin-left: 5px;
}
.margin-right-small
{
    margin-right: 10px;
}

.header
{
    font-size: 40px;
    background-color: rgba(144, 238, 144, 0.82);
    height: 100px;
    padding-top: 20px;
    color: rgb(9, 68, 9);
}

.info-text
{
    font-weight:300;
    line-height:1.4;
    font-size: 30px;
    padding: 10% 0;
}
.table-bordered > thead
{
    background-color: rgba(144, 238, 144, 0.52);
    color: rgb(9, 68, 9);
}
.result-text
{
    font-size: 16px;
}
.result-text-big
{
  font-size: 20px;
}
.result-color
{
   color: #58e558;  
}
